@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins";
}

:root{
  --light-primary:#575757;
  --primary:#2F2F2F;
  --secondary:#222222;
  --yellow:#ECC53F;
  --transition:400ms all ease;
}

.heading{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color:var(--secondary);
  font-size: 1.5rem
}
.sub-heading{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color:var(--secondary);
  font-size: 1.2rem
}
.lightgrey{
  width:15rem;
  height:3rem;
  background:var(--primary);
}
.lightgrey{
  width:15rem;
  height:3rem;
  background:var(--primary);
}
.darkgrey{
  width:15rem;
  height:3rem;
  background:var(--secondary);
}
.yellow{
  width:15rem;
  height:3rem;
  background:var(--yellow);
}

.btn-primary{
  background-color: var(--primary);
  color:white;
  border-radius: .5rem;
  padding:.5rem 2rem;
  border:none;
  transition:var(--transition);
  cursor:pointer;
}
.btn-primary:hover{
  background-color: var(--light-primary);
  color:white;
  border-radius: .5rem;
  padding:.5rem 2rem;
  border:none;
  transition:var(--transition);
  cursor:pointer;
}

.btn-danger{
  background-color: rgb(253, 26, 26);
  color:white;
  border-radius: .5rem;
  padding:.5rem 2rem;
  border:none;
  transition:var(--transition);
  cursor:pointer;
}

.btn-danger:hover{
  background-color: rgb(250, 64, 64);
  color:white;
  border-radius: .5rem;
  padding:.5rem 2rem;
  border:none;
  transition:var(--transition);
  cursor:pointer;
}

a{
  text-decoration: none;

}
