* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.3rem 10rem;
  background-color: rgba(0, 0, 0, 0.801);
  color: white;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.right {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.leftSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 10rem;
  background: #d6d6d6;
}
.mainHeader .logo img {
  width: 10rem;
}
.navMenu {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  gap: 4rem;
}
.navMenu a {
  text-decoration: none;
  color: black;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0.2rem 10rem;
  background-color: var(--secondary);
}
.right {
  display: flex;
  gap: 0.6rem;
}
.left {
  display: flex;
  gap: 2.6rem;
}
.leftSide {
  display: flex;
  gap: 0.6rem;
}
.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 10rem;
  background: #d6d6d6;
}
.mainHeader .logo img {
  width: 15rem;
  height: 3rem;
}
.navMenu {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  gap: 4rem;
}
.navMenu a {
  text-decoration: none;
  color: black;
}
.hero {
  background: url("../assets/testbg.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  padding: 100px 0;
  text-align: center;
  color: white;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero h2 {
  /* font-size: 36px; */
  margin-bottom: 20px;
  color: white;
}
.hero p {
  /* font-size: 18px; */
  margin-bottom: 30px;
  color: var(--yellow);
}
