* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100vh;
}

.hero {
  background: url("../assets/testbg.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  text-align: center;
  color: white;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.hero .hero-text h2 {
  color: white;
  font-size: 3rem;
  max-width: 60%;
}
.hero button {
  font-size: 1rem;
}
@media screen and (max-width: 1200px) {
  .hero .hero-text h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .hero.hero-text h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .hero .hero-text h2 {
    font-size: 1.8rem;
    line-height: 2.1rem;
    min-width: 90%;
  }
}
main {
  padding: 3rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.about h2 {
  color: var(--primary);
}
.about-text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.about-text p {
  color: var(--secondary);
  text-align: justify;
}
@media screen and (max-width: 1200px) {
  main {
    padding: 3rem 2rem;
  }
}
@media screen and (max-width: 1024px) {
  main {
    padding: 3rem 1rem;
  }
}
@media screen and (max-width: 600px) {
  .about-text p {
    color: var(--secondary);
    text-align: left;
    letter-spacing: 1px;
  }
}
.service-section {
  /* padding: 3rem 10rem; */
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.service-section h2 {
  color: var(--primary);
}
.service-section .service-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.service-cards .card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: var(--transition);
}
.service-cards .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.service-cards .card .card-img {
  width: 100%;
  height: 300px;
  object-position: center;
  flex-basis: 60%;
  object-fit: contain;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-cards .card .card-img i {
  color: var(--yellow);
  font-size: 10rem;
}
.service-cards .card .card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  flex-basis: 40%;
  max-height: 40%;
  text-align: justify;
}
.service-cards .card .card-text .card-heading {
  text-align: left;
  font-weight: 600;
  color: var(--secondary);
  font-size: 1rem;

}
@media screen and (max-width: 720px) {
  .service-cards {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service-cards .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .service-cards .card:hover {
    transform: none;
  }
  .service-cards .card .card-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    flex-basis: 40%;
    text-align: left;
  }
}
